<!-- Author: Parsia Hakimian https://github.com/parsiya/Hugo-Shortcodes -->

<!-- imitates the imgcap plugin from Octopress
  see readme or the above repository for usage -->

  <span class="caption-wrapper">
    <img class="caption" src="{{ .Get "src" }}" title="{{ .Get "title" }}" alt="{{ .Get "title" }}">
    <span class="caption-text">{{ .Get "title" }}</span>
  </span>